html {
  box-sizing: border-box;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: inline-block;
}

img {
  width: 100%;
}

body {
   font-family: "Open Sans", sans-serif;
   color: #333;
 }

a {
  text-decoration: none;
  color: #333;
  border-style: solid;
  padding: .75em;
  border-radius: 10px;
  font-weight: bold;
}

a:hover {
  color: #eee9de;
  background-color:#333;
}
