html {
  box-sizing: border-box;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
}

div:nth-of-type(2) {
  text-align: left;
}

img {
  display: block;
  width: 100%;
  padding: 2em 1em;
}

body {
   font-family: Lato, sans-serif;
   color: #333;
 }

a {
  text-decoration: none;
  color: #333;
  border-style: solid;
  padding: .75em;
  border-radius: 10px;
  font-weight: bold;
  text-align: left;
}

a:hover {
  color: #eee9de;
  background-color:#333;
}

p {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

h2 {
  margin: 0;

}

section {
  text-align: center;
}
